header { 
        background-image:url('../img/post-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  center;
        padding-bottom: 2rem;
        height: 700px;
}

.titulo_header{ 
        font-family: $playfair;
        font-weight: $black-italic;
        font-size: $xx-large;
        top: 90px;
        padding: 6rem 3rem;

}

.fa-angle-double-down {
        padding-top: 13rem;
        font-size: 3rem;
}
